  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/keltron.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Keltron ChatBot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/assets/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/logout" class="d-block">Logout
          </a>
        </div>
      </div>

      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
       
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               
          
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/list" class="nav-link">
                  
                  <p>Created Chatbots</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/event" class="nav-link">
                 
                  <p>New Chatbot</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/faq" class="nav-link">
                  
                  <p>Frequently Asked Questions</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/generatedQuestions" class="nav-link">
                  
                  <p>RAG Generated Q&A</p>
                </a>
              </li>
              
            </ul>
        
          
          
      
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  
